.splash {
    height: 100vh;
    display: grid;
    grid-template-rows: 20% 80%;
    background: url(../images/header-photo.webp);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    color: white;
    
    &__top-bar {
        display: grid;
        grid-template-columns: 1fr 4fr;
        margin: 50px 10%;
    }

    &__logo {
        margin: 0 40px;
        font-family: $logo-font;
        font-size: 1.5rem;
        text-align: left;
    }

    &__brand {
        color: $main-color;
        text-decoration: none;
    }

    &__intro {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    &__greeting {
        display: block;
        font-family: $subtitle-font;
        font-size: 3rem;
        text-transform: capitalize;
        font-style: italic;
        margin-bottom: 20px;

        &--bold {
            font-family: $title-font;
            font-size: 4rem;
            font-style: normal;
            text-transform: uppercase;
            margin-bottom: 40px;
        }
    }
}