// variables

$main-color: rgb(254, 209, 70);
$bg-color: rgb(247, 247, 247);
$dark-font: rgb(34, 34, 34);

$logo-font: 'Gwendolyn', cursive;
$title-font: 'Prompt', sans-serif;
$subtitle-font: 'Cormorant Upright', serif;
$serv-font: 'Bitter', serif;

// general 
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    //border: 1px solid;
}

body {
    font-family: $title-font;
    color: $dark-font;
}

.container {
    width: 100vw;
    display: grid;
    grid-template-rows: 100vh 1fr 2fr 200px;
}

.nav {

    &__menu {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        list-style-type: none;
    }

    &__option {
        padding: 0 20px;
    }

    &__link {
        text-decoration: none;
        color: white;
        text-transform: uppercase;
        font-size: 1rem;
    }
}

.button {
    display: block;
    width: 300px;
    border-radius: 5px;
    background-color: $main-color;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1rem;
    padding: 20px;
    color: white;
}

.title {
    margin: 80px auto;
    display: flex;
    flex-direction: column;
    text-align: center;

    &__title {
        font-size: 2rem;
        text-transform: uppercase;
    }

    &__subtitle {
        font-family: $subtitle-font;
        font-style: italic;
    }
}

// splash

.splash {
    height: 100vh;
    display: grid;
    grid-template-rows: 20% 80%;
    background: url(../images/header-photo.webp);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    color: white;
    
    &__top-bar {
        display: grid;
        grid-template-columns: 1fr 4fr;
        margin: 50px 10%;
    }

    &__logo {
        margin: 0 40px;
        font-family: $logo-font;
        font-size: 1.5rem;
        text-align: left;
    }

    &__brand {
        color: $main-color;
        text-decoration: none;
    }

    &__intro {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    &__greeting {
        display: block;
        font-family: $subtitle-font;
        font-size: 3rem;
        text-transform: capitalize;
        font-style: italic;
        margin-bottom: 20px;
    }

    &__greeting-2 {
        display: block;
        font-size: 4rem;
        text-transform: uppercase;
        margin-bottom: 40px;
    }
}

// services

.services {
    display: grid;
    grid-template-rows: 20% 80%;
    align-items: stretch;

    &__wrapper {
        margin: 50px 10%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__service {
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    &__icon {
        margin: 10px;
        position: relative;
        font-size: 2.5rem;
        color: $main-color;

        &::after {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            content: "";
            width: calc(1.7*2.5rem);
            height: calc(1.7*2.5rem);
            border: 2px solid $main-color;
            border-radius: 50%;
            background-color: transparent;
        }
    }

    &__title {
        margin: 10px;
        font-size: 1.3rem;
    }

    &__text {
        margin: 10px;
        font-family: $serv-font;
        line-height: 2;
        letter-spacing: 1px;
    }
}

.fa-solid {
    margin-top: 5px;
}

// portfolio

.portfolio {
    display: grid;
    grid-template-rows: 20% 80%;
    align-items: center;
    background-color: $bg-color;

    &__wrapper {
        margin: 50px 10%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        justify-items: center;
        gap: 40px;
    }
}

.card {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 23vw;
    

    &__img {
        width: 23vw;
        height: 23vw;
    }

    &__pic {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__product {
        font-family: $title-font;
        font-weight: 700;
        text-transform: capitalize;
        padding-top: 20px;
        font-size: 1.4rem;
        background-color: white;
    }

    &__type {
        font-family: $subtitle-font;
        text-transform: capitalize;
        font-style: italic;
        padding-bottom: 20px;
        background-color: white;
        font-size: 1.2rem;
    }
}

// footer

.footer {
    display: flex;
    align-items: center;
    position: relative;
    
    &__copyrights {
        margin-left: 10%;
    }

    &__socials {
        display: flex;
        position: absolute;
    left: 50%;
    transform: translateX(-50%);
    }
}

.social {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: $dark-font;
    display: grid;
    margin: 0 5px;
   
}

.fa-brands {
    text-decoration: none;
    color: white;
    font-size: 1.7rem;
    margin: auto;
}

// media queries

@media (max-width: 1024px) {

    .portfolio__wrapper {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        padding-bottom: 50px;
    }

    .card {
        width: 36vw;

        &__img {
            width: 36vw;
            height: 36vw;
        }
    }

    .footer {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;

        &__copyrights {
            margin: 0;
        }

        &__socials {
            position: static;
            transform: none;
        }
    }
}







