// variables

$main-color: rgb(254, 209, 70);
$bg-color: rgb(247, 247, 247);
$dork-font: rgb(34, 34, 34);

$logo-font: 'Gwendolyn', cursive;
$title-font: 'Prompt', sans-serif;
$subtitle-font: 'Cormorant Upright', serif;
$serv-font: 'Bitter', serif;





